// Define variables for your color scheme

// For example:
$gray: #848484;
$lightpurple: #F1EAFF;
$lightgray: #C4C4C4;
$mintgreen: #73FFCD;
$black: #000000;
$white: #FFFFFF;
$lightgreen: #DFFFF4;
$grassgreen: #4FB08E;
$deepgreen: #1D523F;
