.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

#sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 189px;
  height: 42px;
  background: linear-gradient(90deg, rgba(115,255,205,1) 14%, rgba(0,212,255,1) 85%);
  box-sizing: border-box;
  border-radius: 26px;
  color: black;
  font-size: 18px;
}

.signinheader {
  left: 88px;
  top: 214px;
}

.signin-doghead {
  width: 160px;
  margin-left: 20px;
  margin-top: 55px;
  margin-bottom: 20px;
  animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count:infinite;
}

@keyframes shake {
  6%, 14% {
   transform: rotate(-4deg);
  }

  10%, 18% {
  transform:  rotate(4deg);
  }
}

.signin-logo-text img {
  width: 202px;
  margin-top: 5px;
  margin-bottom: 35px;
}

.form-inputs {
  left: 104px;
  top: 462px;
}

.form-actions {
  display: flex;
  justify-content: center;
}

.form-check-label {
  font-size: 18px;
}

.signin body {
  color:black;
}

#sign-in {
  width: 189px;
  height: 42px;
  background: linear-gradient(90deg, rgba(115,255,205,1) 14%, rgba(0,212,255,1) 85%);
  box-sizing: border-box;
  border-radius: 26px;
  color: black;
  font-size: 18px;
}

.sign-up {
  text-align: center;
  color: $gray;
}



.sign-up p {
  margin-top: 1rem;
  margin-bottom: 2px !important;
  text-align: center;
  font-size: 18px;
}


#user_email {
  font-size: 18px;
}

#user_password {
  font-size: 18px;
}
