.signup-header h2 {
text-align: center;
margin-top: 5vh;
}

.signup-form {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 15vh;
}

.form-actions {
 margin: 20px auto;
 border-radius:20px;
 padding:10px 20px;
 background: linear-gradient(90deg, rgba(115,255,205,1) 14%, rgba(0,212,255,1) 85%); 
}