.signup-header h2 {
text-align: center;
margin-top: 5vh;
}

.signup-form {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 15vh;
}

.sign-up-page-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 189px;
    height: 42px;
    background: linear-gradient(90deg, rgba(115,255,205,1) 14%, rgba(0,212,255,1) 85%);
    box-sizing: border-box;
    border-radius: 26px;
    color: black;
    font-size: 18px;
}