
// confetti

body {
  margin: 0;
}



.wrapper {
  position: relative;
  min-height: 90vh;
  overflow: hidden;
}

[class|="confetti"] {
  position: absolute;
}

$colors: (#73FFCD, #ffbf00, #263672, #e362ad);

@for $i from 0 through 150 {
  $w: random(8);
  $l: random(100);
  .confetti-#{$i} {
    width: #{$w}px;
    height: #{$w*0.95}px;
    background-color: nth($colors, random(4));
    top: -10%;
    left: unquote($l+"%");
    opacity: random() + 1;
    transform: rotate(#{random()*360}deg);
    animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l+random(15)+"%");
    }
  }
}

// doghead
.signin-doghead {
  z-index: 1;
  width: 160px;
  margin-left: 20px;
  margin-top: 90px;
  margin-bottom: 20px;
  animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count:infinite;
}

@keyframes shake {
  6%, 14% {
   transform: rotate(-4deg);
  }

  10%, 18% {
  transform:  rotate(4deg);
  }
}

.endinghead {
  z-index: 100;
  position: absolute;
  top: 150px;
  left: 93px;
}


.endinghead h2 {
  font-weight: bold;
}

