.signin-doghead {
  z-index: 1;
  width: 160px;
  margin-left: 20px;
  margin-top: 90px;
  margin-bottom: 20px;
  animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count:infinite;
}

@keyframes shake {
  6%, 14% {
   transform: rotate(-4deg);
  }

  10%, 18% {
  transform:  rotate(4deg);
  }
}

.endinghead {
  z-index: 100;
  position: absolute;
  top: 150px;
  left: 93px;
  border-radius: 13px;
}


.endinghead h2 {
  font-weight: bold;
}

.homepage-button {
  background-color: #ff4466;
  font-weight: bold;
  color: black;
  margin: auto;
}
