.modal-info p {
  margin-left: 8px;
  font-size: 15px;

}

.modal-info {
  border-left:solid $primary;

}

.checkoutbtn {
  height: 30px;
  border-radius: 13px;
  font-size: 18px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(115,255,205,1) 14%, rgba(0,212,255,1) 85%);
}
