<div class="card-show">
  <img src="#" />
  <div class="card-show-infos">
    <div class="dog-name">
      <h2><%= @dog.name %></h2>
      <p>Proud owner: @<%= @dog.user.full_name %> </p>
    </div>
    <% if @dog.photo.present? %>
      <%= cl_image_tag @dog.photo, alt: "dog photo", class: "card-show-user" %>
    <% else %>
      <%= image_tag "#", alt: "dog", class: "card-show-user" %>
    <% end %>
  </div>
</div>
