/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


.chat_room {
  margin-top: auto;
}

.messages {
  font-size: 20px;
  color: #726b6b;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  overflow: scroll;
  border-style: none;
  height: 60vh;
  margin-bottom: 40px;
}

// navbar 70px

.message {
  display: flex;
  // margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  background-color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  border-style: none;
}
.message_content {
  margin-bottom: 0;
  border-style: none;
  font-size: 20px !important;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 20px !important;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}

.form-control {
  width: 70vw;
  border-radius: 13px;
  height:45px !important;
  margin-right:5px;
}



.chat-header {
  background: linear-gradient(90deg, rgba(115,255,205,1) 14%, rgba(0,212,255,1) 85%);
  color: black;
  padding: 10px 20px;
  border-radius: 13px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

#send-btn {
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 13px;
  background: linear-gradient(90deg, rgba(115,255,205,1) 14%, rgba(0,212,255,1) 85%);
}

#end-point-button {
  display: flex;
  justify-content: space-around;
  width: 92%;
}

.btn-block {
  background: linear-gradient(90deg, rgba(115,255,205,1) 14%, rgba(0,212,255,1) 85%);
  border-radius: 13px;
  height:45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chatinput {
  position: fixed;
  bottom: 60px;
  // width: 100%;
}
