.chat_room {
  margin-top: auto;
}

.messages {
  font-size: 20px;
  color: #726b6b;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  overflow: scroll;
  border-style: none;
  height: 70vh;
  margin-bottom: 40px;
}

// navbar 70px


.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
}
.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border: 1px solid #ececec;
  border-style: none;
}
.message_content {
  margin-bottom: 0;
  border-style: none;
  font-size: 20px !important;
}

input.form-control {
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 20px !important;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}

.form-control {
  width: 356px;
}


.chat-header {
  background-color: #73FFCD;
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
  h4 {
    margin: 0;
  }
}

#send-btn {
  margin-top: 10px;
  border-radius:13px;
  font-size:20px;
}

#end-point-button {
  position:relative;
  margin: 10px;
  text-align: center;

}

#chatinput {
  position: fixed;
  bottom: 50px;
  width: 100%;
}
