<div class="footer">
  <%= link_to root_path do %>
    <i class="fas fa-map-marker-alt icons-navbar"></i>
  <% end %>
  <a href="#"><i class="fas fa-comments icons-navbar"></i></a>

  <a href="#"><i class="fas fa-heart icons-navbar"></i></a>
</div>
