<div class="container">
  <div class="endinghead">
    <%= image_tag("logo_doghead.png", :alt => "Dog", :class =>"signin-doghead") %>
  </div>

  <div class="homepage-button">
   <%= link_to "Who's Doggie Walking now?", home_path, :class =>"homepage-link" %>
  </div>
</div>



