.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  padding: 0px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid #e8eaed;
}

.icons-navbar {
  font-size: 30px;
  padding: 0px 10px;
}
